<!doctype html>
<html ng-app="app">
	<head>
		<meta charset='utf-8'>
		<title>LDS Hero</title>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='description' content='Boilerplate for mobile - Offline capable apps.'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel='canonical' href='https://the.atfiliate.com/component/app'>
		<link rel='manifest' href='app_json'>
		<meta name='mobile-web-app-capable' content='yes'>
		<meta name='apple-mobile-web-app-capable' content='yes'>
		<meta name='application-name' content='Mobile Ninja'>
		<meta name='apple-mobile-web-app-status-bar-style' content='black'>
		<meta name='apple-mobile-web-app-title' content='Mobile Ninja'>
		<meta name='msapplication-TileColor' content='#2196F3'>
		<meta name='theme-color' content='#2196F3'>
		<link rel="stylesheet" href="/lib/angular/material.css">
		<link rel="stylesheet" href="/lib/font-awesome.css">
		<link rel='stylesheet' href='/css/main.css'>
		
		<script src="/lib/jquery.js"></script>
		<script src="/lib/angular/main.js"></script>
		<script src="/lib/angular/animate.js"></script>
		<script src="/lib/angular/aria.js"></script>
		<script src="/lib/angular/message.js"></script>
		<script src="/lib/angular/route.js"></script>
		<script src="/lib/angular/material.js"></script>
		
		<script src="/lib/gapi.js"></script>
		<script src="/lib/firebase.js"></script>
		<script src="/lib/firestore.js"></script>
		<script src="/lib/angularFire.js"></script>
		<script src="/lib/moment.js"></script>
		<script src="/lib/cloudinary.js"></script>
		<script src="/lib/maps.js"></script>
		
    	<script src="/js/main.js"></script>
	</head>
	<body layout="column">
		<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<h2 flex><a ng-href="#/app-home">LDS Hero</a></h2>
				<md-button ng-hide="user" aria-label="menu" class="md-icon-button" ng-click="auth.login('Google')">
					<i class="fa fa-id-card-o"></i>
				</md-button>
				<md-menu ng-show="user">
					<a class="thumbnail" ng-click="$mdMenu.open()">
						<img ng-src="{{user.photoURL}}">
					</a>
					<md-menu-content width="4">
						<md-menu-item>
							<md-button ng-href="#/app-notebook">
								<i class="fa fa-pencil-square-o"></i> Notebook
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-href="#/app-receipts">
								<i class="fa fa-money"></i> Receipts
							</md-button>
						</md-menu-item>
						<md-menu-item>
							<md-button ng-href="#/app-settings">
								<i class="fa fa-cogs"></i> Settings
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</md-toolbar>
		<md-content layout="column" flex ng-view></md-content>
		<!--<md-fab-speed-dial md-direction="up" class="main-fab md-scale">-->
		<!--	<md-fab-trigger>-->
		<!--		<md-button aria-label="menu" class="md-fab md-primary">-->
		<!--			<i class="fa fa-bars"></i>-->
		<!--		</md-button>-->
		<!--	</md-fab-trigger>-->
			
		<!--	<md-fab-actions>-->
				<!--<label for="camera" aria-label="Camera" class="md-button md-fab md-raised md-mini">-->
				<!--	<i class="fa fa-camera"></i>-->
				<!--</label>-->
		<!--		<md-button aria-label="Notebook" class="md-fab md-raised md-mini" ng-href="#/app-notebook" title="Notebook">-->
		<!--			<i class="fa fa-pencil-square-o"></i>-->
		<!--		</md-button>-->
		<!--		<md-button aria-label="Receipts" class="md-fab md-raised md-mini" ng-href="#/app-receipts" title="Receipts">-->
		<!--			<i class="fa fa-money"></i>-->
		<!--		</md-button>-->
				<!--<md-button aria-label="Message Center" class="md-fab md-raised md-mini" ng-href="#/app-messages" title="Messages">-->
				<!--	<i class="fa fa-envelope"></i>-->
				<!--</md-button>-->
		<!--	</md-fab-actions>-->
		<!--</md-fab-speed-dial>-->
	</body>
</html>