<style>
	.location{
		text-align: center;
	}
	.location > .title{
		position: relative;
		width: 100%; 
		height: 25vh; 
		overflow: hidden;
	}
	.location > .title > h3{
		position: absolute;
		bottom: 0px;
		background: rgba(211,108,215,.67);
		display: block;
		width: 100%;
		padding: 5px;
		margin: 0px;
		color: #fff;
	}
	.slogan{
		background: #00bcd4;
		color: #FFF;
	}
	.description{
	}
	.md-block{
		width: 80%;
		margin:  0px 10%;
	}
	.layout-padding hr{
		padding:0px;
		margin: 32px 0px;
	}
	.map-container{
		position: relative;
	    width: 100%;
	    height: 75vh;
	    overflow: hidden;
	}
	#map{
		width: 100%;
		height: 100%;
	    transform: matrix3d(2,0,0.00,0,0.00,2,0.00,-.002,0,0,1,0,0,0,0,1);
	}
</style>
<div ng-controller="MapCtrl" layout="column">
	<div class="location">
		<div class="title" style="">
			<img cl-src="{{loc.img.img_url}}" transform_w="400" transform_h="200" style="width:100%;">
			<h3>{{loc.title}}</h3>
		</div>
		<div class="map-container">
			<div id="map"></div>
		</div>
	</div>
	
	<div>{{debug}}</div>
	<!--This links to navigation directions in the google maps app.-->
	<!--<md-button aria-label="directions" class="main-fab md-fab md-accent md-hue-2 md-button md-ink-ripple" ng-href="https://www.google.com/maps/dir/?api=1&destination={{loc.geo.latitude}},{{loc.geo.longitude}}" target="_blank">-->
	<!--	<i class="fa fa-compass"></i>-->
	<!--</md-button>-->
	
	<!--This links to an inline map-->
	<div class="fabs">
		<i class="fab fa-connectdevelop" ng-click="js.redeem()"></i>
	</div>
</div>