<style>
	.location{
		text-align: center;
	}
	.location>div{
		position: relative;
	}
	.location>div>h3{
		position: absolute;
		bottom: 0px;
		background: #d36cd7aa;
		display: block;
		width: 100%;
		padding: 5px;
		margin: 0px;
		color: #fff;
	}
	.slogan{
		background: #00bcd4;
		color: #FFF;
	}
	.description{
	}
	.md-block{
		width: 80%;
		margin:  0px 10%;
	}
	.layout-padding hr{
		padding:0px;
		margin: 32px 0px;
	}
	#map{
	    width: 100%;
	    height: 100%;
	}
</style>
<div ng-controller="MapCtrl" layout="column">
	<div class="location">
		<div style="width: 100%; height: 25vh; overflow: hidden;">
			<img ng-src="{{loc.img.secure_url}}" style="width: 100%;">
			<h3>{{loc.title}}</h3>
		</div>
		<div id="map"></div>
	</div>
	
	<!--This links to navigation directions in the google maps app.-->
	<!--<md-button aria-label="directions" class="main-fab md-fab md-accent md-hue-2 md-button md-ink-ripple" ng-href="https://www.google.com/maps/dir/?api=1&destination={{loc.geo.latitude}},{{loc.geo.longitude}}" target="_blank">-->
	<!--	<i class="fa fa-compass"></i>-->
	<!--</md-button>-->
	
	<!--This links to an inline map-->
	<md-button aria-label="directions" class="main-fab md-fab md-accent md-hue-2 md-button md-ink-ripple" ng-href="#/directions/{{loc._id}}">
		<i class="fas fa-compass"></i>
	</md-button>
</div>