<div ng-controller="HomeCtrl" layout="column">
	<div class="header">
		<img src="https://res.cloudinary.com/stashmob-co/image/upload/v1516031622/p2pq0caf0k4yluumrbsp.png">
		<h3>{{account.coins}} Coins</h3>
	</div>
	<a class="promotion" ng-href="#/adventure/{{campaign._id}}">
		<img ng-src="{{campaign.img.src}}">
		<div class="title">
			{{campaign.title}}
		</div>
	</a>
	
	<p class="ribbon" layout-padding>Spend Your Coins On These Items:</p>
	<div layout="row" layout-wrap>
		<div flex="50" ng-repeat="item in market">
			<div layout-margin md-whiteframe="1">
				<div>
					<img ng-src="{{item.img.url}}">
					<a href="#/item/{{item.$id}}">{{item.title}}</a>
				</div>
			</div>
		</div>
	</div>
	
	<md-fab-speed-dial md-direction="up" class="main-fab md-scale">
		<md-fab-trigger>
			<md-button aria-label="menu" class="md-fab md-primary">
				<i class="fa fa-bars"></i>
			</md-button>
		</md-fab-trigger>
		
		<md-fab-actions>
			<md-button aria-label="Home" class="md-fab md-raised md-mini" ng-href="#/home">
				<i class="fa fa-home"></i>
			</md-button>
			<md-button aria-label="Shop" class="md-fab md-raised md-mini" ng-href="#/locations/retail">
				<i class="fa fa-building"></i>
			</md-button>
			<md-button aria-label="Eat" class="md-fab md-raised md-mini" ng-href="#/locations/restaurant">
				<i class="fa fa-cutlery"></i>
			</md-button>
			<md-button aria-label="Activities" class="md-fab md-raised md-mini" ng-href="#/locations/activities">
				<i class="fa fa-ticket"></i>
			</md-button>
			<md-button aria-label="Services" class="md-fab md-raised md-mini" ng-href="#/locations/services">
				<i class="fa fa-sticky-note"></i>
			</md-button>
		</md-fab-actions>
	</md-fab-speed-dial>
</div>