<div id="locations" ng-controller="LocCtrl" layout="column" ng-init="js.offer.init()">
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<h2 flex><a ng-href="#/app-home">Offers</a></h2>
		</div>
	</md-toolbar>

	<div layout="row" layout-wrap ng-hide="offer">
		<div flex="50" ng-repeat="offer in offers">
			<a ng-click="js.offer.view(offer)">
				<img cl-src="{{offer.img.secure_url}}" transform_w="400" transform_h="200">
			</a>
		</div>
	</div>
	
	<div ng-show="offer">
		<div style="width: 100%; height: 25vh; overflow: hidden;">
			<img cl-src="{{offer.img.secure_url}}" transform_w="400" transform_h="200" style="width:100%;">
			<h3>{{offer.title}}</h3>
		</div>
		<div class="slogan ribbon" layout-padding>
			{{offer.code}}
		</div>
		<div class="description" layout-padding>
			{{offer.description}}
		</div>
	</div>

	<!--<div class="list-item" layout="column" md-whiteframe="4" ng-repeat="offer in offers">-->
	<!--	<div layout="row">-->
	<!--		<img cl-src="{{offer.img.secure_url}}" transform_w="400" transform_h="200">-->
	<!--	</div>-->
	<!--	<div class="footer">-->
	<!--		<p>{{offer.code}}</p>-->
			<!--<span>{{js.loc.distance(loc)}}</span>|<span><i class="fa fa-rocket"></i> <a ng-href="#/location/{{loc._id}}">Get Directions</a></span>-->
			<!--<div class="favorite" ng-click="js.loc.favorite(loc)" ng-show="loc.favorite"><i class="fas fa-heart"></i></div>-->
			<!--<div class="favorite" ng-click="js.loc.favorite(loc)" ng-hide="loc.favorite"><i class="far fa-heart"></i></div>-->
	<!--	</div>-->
	<!--</div>-->
	
	<!--<div>-->
	<!--	<div id="map" style="width:100%; height:25vh;"></div>-->
	<!--</div>-->
	
	<div class="fabs">
		<a class="fab" ng-click="js.offer.back()"><i class="fas fa-chevron-left"></i></a>
	</div>
</div>