body{
	max-width: 500px;
	margin: 0px auto;
	background: #EFEFEF;
}

.ng-enter {
	animation: slideInLeft 0.5s both;
	z-index: 9999;
}
/*.ng-leave {*/
/*	animation: slideOutDown 0.5s both;*/
/*	z-index: 8888;*/
/*}*/


body md-content{
	background: #EFEFEF;
}
img{
	width: 100%;
}

#main>div{
	height: 100%;
	overflow: auto;
}

#container{
	background: #FF1744;
	color: #FFF;
	width: 100%;
	height: 200px;
}

#main md-toolbar *, .md-toolbar-tools *{
	color: #FFF;
}

.nomargin{
	margin: 0px;
}
.undomargin{
	margin: -8px;
}
.main-fab{
	position: fixed;
	bottom: 0px;
	left: calc(50% - 44px);
}

.header{
	position: relative;
	height: 200px;
	overflow: hidden;
	border-bottom: 5px solid #ff1493;
	margin-bottom: 16px;
}
.header img{
	width: 100%;
}
.header h3{
	color: #FFF;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0px 16px;
	font-size: 2em;
	text-shadow: 0px 0px 5px #43adde;
}

.promotion{
	position: relative;
	margin-bottom: 50px;
	text-align: center;
	color: #ff1493;
	text-decoration: none;
}
.promotion img{
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin: 0px auto;
}
.promotion .title{
	font-size: 1.5em;
}

.ribbon{
	background: #ff1493;
	color: #FFF;
	text-align: center;
	font-size: 2em;
	font-weight: 100;
}

#locations{
	background: #ea2a6c;
}
#locations .list-item{
	background: #FFF;
	margin: 0px 0px 10px;
}
#locations .list-item img{
	width: 100px;
	height: 100px;
	object-fit: cover;
}
#locations .list-item *{
	margin: 2px;
}
#locations .list-item .footer {
	font-size: small;
	position: relative;
	background: #EEE;
	margin: 0px;
	padding: 2px;
}
#locations .list-item .favorite {
	position: absolute;
	top: 0px;
	right: 5px;
	padding: 3px;
	margin: 0px;
	background: #ea2a6c;
	font-size: medium;
	color: #FFF;
	border-radius: 0px 0px 4px 4px;
}
#locations .content a{
	text-decoration: none;
	color: #ea2a6c;
}





















.fabs{
	position: fixed;
	height: 50px;
	width: 50px;
	bottom: 0px;
	margin: 15px 0px;
	left: calc(50% - 25px);
}
.fab{
	position: absolute;
	display: inline-block;
	margin: 5px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #FFF;
	color: #222;
	box-shadow: 0px 0px 8px;
	border-radius: 50%;
	transition: all 0.5s;
	cursor: pointer;
}
.fabs.expanded .fab{
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.fabs .fab:nth-child(1){
	margin: 0px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: #ff1493;
	color: #FFF;
	z-index: 9;
}
.fabs.expanded .fab:nth-child(1){
	width: 40px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
}

.fabs2.expanded .fab:nth-child(2){
	margin: -60px -60px;
}
.fabs2.expanded .fab:nth-child(3){
	margin: -60px 60px;
}

.fabs3.expanded .fab:nth-child(2){
	margin: -40px -60px;
}
.fabs3.expanded .fab:nth-child(3){
	margin: -70px 0px;
}
.fabs3.expanded .fab:nth-child(4){
	margin: -40px 60px;
}

.fabs4.expanded .fab:nth-child(2){
	margin: 0px -80px;
}
.fabs4.expanded .fab:nth-child(3){
	margin: -70px -40px;
}
.fabs4.expanded .fab:nth-child(4){
	margin: -70px 40px;
}
.fabs4.expanded .fab:nth-child(5){
	margin: 0px 80px;
}

.fabs5.expanded .fab:nth-child(2){
	margin: 0px -80px;
}
.fabs5.expanded .fab:nth-child(3){
	margin: -60px -60px;
}
.fabs5.expanded .fab:nth-child(4){
	margin: -80px 0px;
}
.fabs5.expanded .fab:nth-child(5){
	margin: -60px 60px;
}
.fabs5.expanded .fab:nth-child(6){
	margin: 0px 80px;
}